// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}
.wpua-edit {
	.button {
		@extend .btn;
		@extend .btn-default;
	}
	#wpua-upload-messages-existing {
		@extend .help-block;
	}
	#wpua-remove-existing {
		@extend .btn-danger;
	}
	#submit {
		@extend .btn-primary;
	}
	#wpua-file-existing {
		margin-bottom: 20px;
	}
	#wpua-undo-button-existing {
		display: none;
	}
}
#course-signup {
	text-align: center;
	.apply-button {
		float: none;
		@extend .btn;
		@extend .btn-primary;
	}
}
#student-settings {
	input[type='submit'] {
		margin-top: 15px;
	}
}
#basic-user-avatar-form {
	input[type='submit'] {
		@extend .btn;
		@extend .btn-default;
	}
}