@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-align($value) {
	-webkit-box-align: $value;
	-webkit-align-items: $value;
	-moz-box-align: $value;
	-ms-flex-align: $value;
	align-items: $value;
}

h1, h2, h3, h4, h5, h6 {
	@extend .text-uppercase;
}

input[type="text"] {
	width: 100%;
}

h1, h2, h3, h4 {
	color: #334d58;
}

h4 {
	font-size: 14px;
}

h3 {
	font-size: 16px;
	font-weight: 700;
}

.btn-link {
	font-size: 12px;
	font-weight: 700;
}

em, .serif {
	font-family: $font-s-serif-pro;
}