@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-align($value) {
	-webkit-box-align: $value;
	-webkit-align-items: $value;
	-moz-box-align: $value;
	-ms-flex-align: $value;
	align-items: $value;
}

h1, h2, h3, h4, h5, h6 {
	@extend .text-uppercase;
}

input[type="text"] {
	width: 100%;
}