// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Navbar
$border-radius-base : 0px !default;
$btn-primary-bg : #279ad9 !default;
$label-primary-bg : #0559e0 !default;
$label-danger-bg : #fe0000 !default;
$label-success-bg : #00d3a0 !default;

// Fonts
$font-montserrat : 'Montserrat', sans-serif !default;
$font-s-sans-pro : 'Source Sans Pro', sans-serif !default;
$font-s-serif-pro : 'Source Serif Pro', serif !default;

$headings-font-family : $font-montserrat; 
$font-family-base : $font-s-sans-pro;

// Modals
$modal-sm : 320px !default;
$border-radius-large : 0px !default;